@font-face
{
  font-family: "Supermolot";
  src: url("../fonts/Supermolot.otf");
}
@font-face 
{
  font-family: "Supermolot Italic";
  src: url("../fonts/Supermolot Italic.otf");

}
@font-face 
{
  font-family: "Supermolot Thin";
  src: url("../fonts/Supermolot Thin.otf");
 
}
@font-face 
{
  font-family: "Supermolot Thin Italic";
  src: url("../fonts/Supermolot Thin Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Light";
  src: url("../fonts/Supermolot Light.otf");
}
@font-face 
{
  font-family: "Supermolot Light Italic";
  src: url("../fonts/Supermolot Light Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Bold";
  src: url("../fonts/Supermolot Bold.otf");
 
}
@font-face 
{
  font-family: "Supermolot Bold Italic";
  src: url("../fonts/Supermolot Bold Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Black";
  src: url("../fonts/Supermolot Black.otf");
}
@font-face
{
  font-family: "Supermolot Black Italic";
  src: url("../fonts/Supermolot Black Italic.otf");
}
html
{
  background-image: url('../image/body.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 100%;
}


.conteiner
{
  margin: 0 auto;
  margin-top: 30px;
  width: 1400px;
  height: auto;
}
.header
{
  background-image: url('../image/header.png');
  width: 100%;
  height: 250px;
}

.nav
{
  position: relative;
  display: flex;
  width: 1400px;
  margin: 20px auto;
  height: auto;
}

.logo
{
    display: inline-block;
    width: 170px;
    height: 170px;
    background-image: url('../image/фон.png');
    background-color: #ED1651;
    border-radius: 15%;
}

.nav ul.topnav
{
    position: relative;
    width: 1230px;
    max-width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
}
.nav ul.topnav li
{
    float: left;
}
.nav ul.topnav li a
{
    font-family: "Supermolot Light";
    font-weight: 900;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 22px 87.4px;
    text-decoration: none;
    transition: 1s;
    font-size: 14px;
    transform: rotate(0deg);
}
.nav ul.topnav li a:hover
{
    background-color: #021563;
    color: white;
    transform: rotate(-360deg);    
}
.content
{
  width: 100%;
  height: 560px;
  background-color: white;
  border: 1px solid white;
}

.welcome_message
{
  width: 1100px;
  margin: 20px auto;
  height: 150px;
}
.welcome_message img
{
  cursor: pointer;
  margin-left: 380px;
  width: 351px;
  height: 147px;
  transition: all 1s;
}
.welcome_message img:hover
{
  border: 5px solid gray;
  box-shadow: 20px 20px 15px gray;
}
.text
{
  text-indent: 20px;
  width: 1100px;
  margin: 0 auto;
  height: 100px;  
}
.text p
{
  text-align: justify;
  font-family: "Supermolot"; 
  font-size: 14px; 
}
.text li
{
  font-family: "Supermolot Bold Italic";  
}
.Footer
{
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: white;
}
.Footer .footer
{
  margin: 15px auto;
  width: 430px;
  height: auto;
  font-family: "Supermolot Thin Italic";
  font-weight: 600;
}
.Footer .link 
{
  margin: 0 auto;
  display: flex;
  width: 80px;
  height: auto;
}
.Footer .link a
{
  margin-left: 10px;
  width: 50px;
  text-decoration: none;
  display: inline-block;
}

