@font-face
{
  font-family: "Supermolot";
  src: url("../fonts/Supermolot.otf");
}
@font-face 
{
  font-family: "Supermolot Italic";
  src: url("../fonts/Supermolot Italic.otf");

}
@font-face 
{
  font-family: "Supermolot Thin";
  src: url("../fonts/Supermolot Thin.otf");
 
}
@font-face 
{
  font-family: "Supermolot Thin Italic";
  src: url("../fonts/Supermolot Thin Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Light";
  src: url("../fonts/Supermolot Light.otf");
}
@font-face 
{
  font-family: "Supermolot Light Italic";
  src: url("../fonts/Supermolot Light Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Bold";
  src: url("../fonts/Supermolot Bold.otf");
 
}
@font-face 
{
  font-family: "Supermolot Bold Italic";
  src: url("../fonts/Supermolot Bold Italic.otf");
}
@font-face 
{
  font-family: "Supermolot Black";
  src: url("../fonts/Supermolot Black.otf");
}
@font-face
{
  font-family: "Supermolot Black Italic";
  src: url("../fonts/Supermolot Black Italic.otf");
}
html
{
  background-image: url('../image/body.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 100%;
}


.conteiner_fluid
{
  margin: 0 auto;
  margin-top: 30px;
  width: 1400px;
  height: auto;
}
.header
{
  background-image: url('../image/header.png');
  width: 100%;
  height: 250px;
}

.nav
{
  position: relative;
  display: flex;
  width: 1400px;
  margin: 20px auto;
  height: auto;
}

.logo_image
{
    display: inline-block;
    width: 170px;
    height: 170px;
    background-image: url('../image/фон.png');
    background-color: #ED1651;
    border-radius: 15%;
}

.nav ul.topnav
{
    position: relative;
    width: 1230px;
    max-width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
}
.nav ul.topnav li
{
    float: left;
}
.nav ul.topnav li a
{
    font-family: "Supermolot Light";
    font-weight: 900;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 22px 87.4px;
    text-decoration: none;
    transition: 1s;
    font-size: 14px;
    transform: rotate(0deg);
}
.nav ul.topnav li a:hover
{
    background-color: #021563;
    color: white;
    transform: rotate(-360deg);    
}
.content_fluid
{
  width: 100%;
  height: 1800px;
  background-color: white;
  border: 1px solid white;
}

.welcome_message
{
  width: 1100px;
  margin: 50px auto;
  height: 150px;
}
.welcome_message .logo_1 img
{
  margin-left: 380px;
  width: 351px;
  height: 147px;
}
.text
{
  text-indent: 20px;
  width: 1100px;
  margin: 0 auto;
  height: 100px;  
}
.text p
{
  text-align: center;
  font-family: "Supermolot"; 
  font-size: 22px; 
}

.container {
	margin-left: -150px;
	width: 1400px;
	height: 500px;
	background: #fff;
}
.main-header {
	text-align: center;
	padding: 2.8em 0 3.8em;
}
.cube-container {
	max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}


.name {
	font-size: 1.65em;
	font-weight: 800;
	margin: 0 0 1.5em;
	line-height: 1;
  font-family: "Supermolot Bold";
}
.name span {
	font-weight: 300;
  font-family: "Supermolot Thin Italic";
}
.logo {
	width: 45px;
	margin-bottom: .4em;
	cursor: pointer;
}
.button {
	font-size: .8em;
	color: #fff;
	width: 90%;
	line-height: 1.15;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: .95em 0;
	border-radius: .5em;
	background: rgba(74,137,202, .8);
	margin: auto;
}

.photo-desc {
	font-size: .85em;
	color: #fff;

}

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}
@media (min-width: 1025px) {
	.cube-container:first-child {
		margin-left: 0;
	}
	.cube-container:last-child{
		float: right;
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}

.button {
	transition: background .3s;
}
.button:hover {
	background: rgba(74,137,202, 1);
}



.cube-container {
	box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
  perspective: 800px;
}

.photo-cube {
transition: transform 2s ease-in-out; 
  width: 220px;
  height: 200px;
  transform-style: preserve-3d;
}

.photo-cube:hover {
	cursor: pointer;
	transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
width: 100%;
height: 100%;
display: block;
position: absolute;
}

.front {
transform: translate3d(0,0,110px);
}

.back {
transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
transform: translateZ(-110px) rotateY(180deg);
 }
.Footer
{
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: white;
}
.Footer .footer
{
  margin: 15px auto;
  width: 430px;
  height: auto;
  font-family: "Supermolot Thin Italic";
  font-weight: 600;
}
.Footer .link 
{
  margin: 0 auto;
  display: flex;
  width: 80px;
  height: auto;
}
.Footer .link a
{
  margin-left: 10px;
  width: 50px;
  text-decoration: none;
  display: inline-block;
}

